/* *{
    border:2px solid red;
} */
          
                 /* circle style */
                     body{
                     background-color:rgb(207, 207, 207);
                     text-align:center;
                        }

                    .intro-title{
                     margin-bottom:50px;
                     margin-top: 50px;
                    }
                    
                    .code-side{
                     /* background-image:url("../images/pankaj-patel-_SgRNwAVNKw-unsplash.jpg"); */
                     /* background-size:480px, 480px; */
                     background-color: rgb(5, 5, 27);
                     width:300px;
                     height:300px;
                     /* margin:10% auto 10% auto;     */
                     color: black;
                     border:3px solid #130547;
                     padding-left:0px;
                     padding-right:0px;
                    }
                    .dev-title{
                        padding-bottom:260px;
                    }
                    
                    .art-side{
                        /* background-image:url("../images/GalaxyButterflies.jpg"); */
                        background-color: rgb(5, 5, 27);
                        background-size:480px, 480px;
                        width:300px;
                        height:300px;
                        text-align:center;
                        /* margin:10% auto 10% auto;     */
                        color: #fff;
                        border:3px solid #7195be;
                    }
                    
                    /* @media section */
                    
                         
                        

                      /* Hover section */
                      .code-side:hover{
                          background-color: #91accc;
                          color: black;
                      }
                      .art-side:hover{
                          background-color:#241b42;
                          color:white;
                      }

                      button{
                          text-decoration: none;
                      }

                

                
                
                
               
