/* *{
    border:2px solid red;
} */
          
                 /* Diagonal style */
                     body{
                     background-color:rgb(207, 207, 207);
                     height: 100%;
                     margin: 120px auto 120px auto;
                    }
                    .main-div{
                     border-top: 3px solid #130547;
                     border-left: 3px solid #130547;
                     border-bottom: 3px solid #51a1fc;
                     border-right: 3px solid #51a1fc;
                     width:500px;
                     height:476px;
                     margin:0 auto ;
                     top:50%;
                     position:relative;
                     overflow: hidden;
                  }
                    .art-side{
                     height:101vh;
                     background:#130547;
                     clip-path:polygon(0 0%, 100% 0, 100% 66%, 0 66%);
                     position:absolute;
                     width:100%;
                      }
                    .code-side{
                     height:101vh;
                     background:#51a1fc;
                     clip-path:polygon(0% 0%, 100% 0, 100% 0%, 0 66%);
                     position:absolute;
                     width:100%;
                      }
                      /* Hover section */
                      .code-side:hover{
                          background-color: #7195be
                      }
                      .art-side:hover{
                          background-color:#2e274d;
                      }

                h1{
                    margin:0;
                }

                p{
                    font-size: 30px;
                    position:absolute;
                   top:315px;
                   right:50px;
                   width:200px;
                   height:100px;
                   color:white;
                   font-size: 40px;
                }
                a{
                    margin:0;
                }
                .art-heading{
                   position:absolute;
                   top:300px;
                   right:-15px;
                   width:200px;
                   height:100px;
                   color:white;
                   font-size: 50px;
                }
                .software-heading{
                   position:absolute;
                   top:100px;
                   right:260px;
                   width:200px;
                   height:100px;
                   color:black;
                   font-size: 40px;
                }
                
                
