/* *{
    border:2px solid red;
} */
          
                 /* circle style */
                     body{
                     background-color:rgb(207, 207, 207);
                     text-align:center;
                        }
                    
                    .art-side{
                     background-color:#130547;
                     width: 50%;
                     height:0;
                     font-size:20px;
                     color: #fff;
                     text-align:center;
                     line-height:0;
                     padding:25% 0;
                     border-radius:50%;
                     text-align: center;
                      }
                    .code-side{
                       background-color:#130547;
                     width: 50%;
                     height:0;
                     font-size:20px;
                     color: #fff;
                     text-align:center;
                     line-height:0;
                     padding:25% 0;
                     border-radius:50%;
                      }
                      /* Hover section */
                      .code-side:hover{
                          background-color: #7195be
                      }
                      .art-side:hover{
                          background-color:#2e274d;
                      }

                      a{
                          text-decoration: none;
                      }

                

                
                
                
               
